
@import url('https://fonts.googleapis.com/css?family=Oranienbaum&display=swap');

.headerContainer {
    /* border: 1px solid black */
}
.header {
    display: flex;
    justify-content: space-between;
    

}
.header h1 {
    font-size: 60px;
    font-family: 'Oranienbaum', serif;
    margin: 1%;
    font-weight: 100;
    
}
.account {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 50;
    align-items: center;
    width: 14%;
}
.myAccount {
    margin-right: 20px;
}
.links {
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
      
}
ul{
    display: flex;
    justify-content: space-around;
}
li {
    list-style:  none;
}
.links .sale {
    color: red;
}
.flag {
    height: 30px;
    padding: 1%;
}
.whatsnew {
    color: black;
}
.whatsnew:hover {
    color: #F5D6DD;
}
.storelocatorlink {
    color: black;   
}
.storelocatorlink:hover {
    color: #F5D6DD;
}
@media all and (max-width: 500px) {
    .header {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100vh;
    }
    
}