
.navs {
    display: flex;
    margin: auto;
    /* border: 1px dashed black; */
    padding: 1%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.faceContainer {
    text-align: center;
    color: black;
    margin-right: 2%;
    width: 25%;
    height: 45vh;
    background-image: url("../pictures/faceicon.png");
    background-size: 100%;
    border-radius: 10px;

 
}
.faceContainer li {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 23px;
    padding: 2%;
    text-align: center;
    text-decoration: underline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.lipsContainer{
    text-align: center;
    color: black;
    margin-right: 2%;
    width: 25%;
    height: 45vh;
    background-image: url("../pictures/lipsicon.png");
    background-size: 100%;
    border-radius: 10px;
    
}
.lipsContainer li {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 23px;
    padding: 2%;
    text-decoration: underline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.eyesContainer {
    text-align: center;
    color: black;
    margin-right: 2%;
    width: 25%;
    height: 45vh;
    background-image: url("../pictures/eyesicon.png");
    background-size: cover;
    border-radius: 10px;
}
.eyesContainer li {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 23px;
    padding: 2%;
    text-decoration: underline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wishlistContainer {
    text-align: center;
    color: black;
    width: 25%;
    height: 45vh;
    background-image: url("../pictures/wishlist.png");
    background-size: cover;
    border-radius: 10px;
}
.wishlistContainer li {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 23px;
    padding: 2%;
    text-decoration: underline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wishlist{
    border: 2px solid pink;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 90%; 
    text-align: center;
    width: 60%;
    background-color: black;
    color: white; 
}
@media all and (max-width: 500px) {
    /* .navlinks {
        display: flex;
        flex-direction: column;
    } */
    
    .faceContainer {
      background-image: none;
    }
    .faceContainer li {
        margin-top: -7em;
    }
    .lipsContainer {
        background-image: none;
    }
    .lipsContainer li {
        margin-top: -7em;
    }
    .eyesContainer{
        background-image: none;
    }
    .eyesContainer li {
        margin-top: -7em;
    }
    .wishlistContainer {
        background-image: none;
        background-color: none;
    }
    .wishlistContainer li {
        margin-top: -7em;
    } 
    .navs {
        margin: 0;
    }
    .test {
        margin-top: -20em ;
    }
    .form {
        margin-top: -20em;
    }
    .lipsBanner {
        margin-top: -20em;
    }
    .eyesTitle {
        margin-top: -20em;
    }
}